<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :title do %>
  <%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.title') %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.title') %>
<% end %>


<%= form_tag admin_mad_mimi_path, :method => :put do %>
  <div id="mad_mimi">
    <% if MadMimi.connected? %>
      <div class="alpha six columns">
        <fieldset class="general">
          <legend align="center"><%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.connected.title') %></legend>

          <div class="alpha omega five columns offset-by-one">
            <div class="alpha no-objects-found limited-height">
              <%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.connected.description_html') %>
            </div>
          </div>

          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t('mad_mimi.admin.view.mad_mimi.edit.actions.disconnect_account'), 'cancel', nil, id: 'disconnect_account' %>
          </div>
        </fieldset>
      </div>

      <div class="omega six columns">
        <fieldset class="general">
          <legend align="center"><%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.subscription_form.title') %></legend>


          <div class="alpha omega five columns offset-by-one limited-height">
            <% if @webforms.empty? %>
              <div class="alpha no-objects-found limited-height">
                <%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.subscription_form.empty_html') %>
              </div>
            <% else %>
              <div class="field limited-height">
                <%= select_tag :webform_id, options_for_select(@webforms.map{ |wf| [ wf.name, wf.id ] }, MadMimi.webform_id), :prompt => Spree.t('mad_mimi.admin.view.mad_mimi.edit.subscription_form.prompt'), :class => 'select2 fullwidth' %>
                <span class="info"><%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.subscription_form.hint') %></span>
              </div>
            <% end %>
          </div>

          <% unless @webforms.empty? %>
            <div class="form-buttons filter-actions actions" data-hook="buttons">
              <%= button Spree.t('mad_mimi.admin.view.mad_mimi.edit.actions.update_configuration'), 'ok', 'submit' %>
            </div>
          <% end %>
        </fieldset>
      </div>
    <% else %>
      <div class="alpha twelve columns">
        <fieldset class="general">
          <legend align="center"><%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.not_connected.title') %></legend>

          <div class="alpha no-objects-found">
            <%= Spree.t('mad_mimi.admin.view.mad_mimi.edit.not_connected.description_html') %>
          </div>

          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t('mad_mimi.admin.view.mad_mimi.edit.actions.connect_account'), nil, nil, id: 'connect_account' %>
            <span class="or"><%= Spree.t(:or) %></span>
            <%= button Spree.t('mad_mimi.admin.view.mad_mimi.edit.actions.create_account'), nil, nil, id: 'create_account' %>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>
    new Mimi.Integration($('#mad_mimi'));
  </script>
<% end %>
